
<div class="container">
  <table class="table table-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Logo</th>
      <th>Venue</th>
    </tr>

    {{#each listaEquipos}}
    <tr>
      <td><a href="/equipos/players/{{this.team_id}}">{{this.name}}</a></td>
      <td>{{this.country}}</td>
      <td><a href="/equipos/players/{{this.team_id}}"><img src="{{this.logo}}" alt="flag"></a></td>

      <td>{{this.venue_name}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>