
<div class="container">
  <table class="table table-striped">
  <tbody>
    <tr>
      <th>Country</th>
      <th>Logo</th>
      <th>League</th>
      <th>Season</th>
    </tr>

    {{#each listaLigas}}
    <tr>
      <td>{{this.country}}</td>
      <td><a href="/equipos/{{this.league_id}}"><img src="{{this.logo}}" alt="flag"></a></td>
      <td><a href="/equipos/{{this.league_id}}">{{this.name}}</a></td>
      <td>{{this.season}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>




