
<div class="container">
  <table class="table table-striped table-bordered table-sm" cellspacing="0">
  <tbody>
    <tr>
      <th class="th-sm">Country</th>
      <th class="th-sm">Logo</th>
      <th class="th-sm">League</th>
      <th class="th-sm">Season</th>
    </tr>

    {{#each listaLigas}}
    <tr id="{{this.league_id}}">
      <td>{{this.country}}</td>
      <td><a href="/equipos/{{this.league_id}}"><img src="{{this.logo}}" alt="flag"></a></td>
      <td><a href="/equipos/{{this.league_id}}">{{this.name}}</a></td>
      <td>{{this.season}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>




